@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color surface1  #45475a;
@define-color yellow    #f9e2af;
@define-color mauve     #cba6f7;

@define-color text        @yellow;
@define-color bg          alpha(@base, 0.65);
@define-color bg1         alpha(@mantle, 0.85);
@define-color subtext0    alpha(@yellow, 0.4);
@define-color overlay0    alpha(@mauve, 0.5);
@define-color accent      @yellow;
@define-color selected    @mauve;
@define-color selected-fg @surface1;
@define-color hover       alpha(@surface1, 0.6);

/* F5ECCE */
* {
	border: none;
	font-family: "Maple Mono NF CN", Roboto, Helvetica, Arial, sans-serif;
	font-size: 12px;
	min-height: 0;
	min-width: 0;
}

window#waybar {
	background: @bg;
	color: @text;
}

tooltip {
    border: 1px solid @overlay0;
    border-radius: 6px;
}

tooltip label {
    font-size: 14px;
    padding: 6px 10px;
    color: @text;
}

/* ── module base ── */
#memory,
#cpu,
#clock,
#backlight,
#pulseaudio,
#battery,
#network,
#bluetooth,
#tray,
#tray > widget,
#idle_inhibitor,
#custom-launcher,
#custom-launch,
#custom-filemgr,
#custom-browser,
#custom-power-menu,
#custom-power-wlogout,
#custom-power,
#custom-reboot,
#custom-quit,
#custom-lock,
#custom-mic {
	background: @bg;
	padding: 1px 8px;
	margin: 2px;
	border-radius: 6px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* ── module hover ── */
#memory:hover,
#cpu:hover,
#clock:hover,
#backlight:hover,
#pulseaudio:hover,
#battery:hover,
#bluetooth:hover,
#network:hover,
#tray > widget:hover,
#idle_inhibitor:hover,
#custom-launcher:hover,
#custom-launch:hover,
#custom-filemgr:hover,
#custom-browser:hover,
#custom-power-menu:hover,
#custom-power-wlogout:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-mic:hover {
	background: @hover;
	color: @text;
}

/* ── clock ── */
#clock {
	font-weight: bold;
}

/* ── pulseaudio ── */
#pulseaudio.muted {
	color: @subtext0;
}

/* ── tray menu ── */
#tray menu * {
	font-size: 14px;     /* 右键菜单 */
    font-family: "Maple Mono NF CN", sans-serif;
}

#tray menu menuitem {
	padding: 2px 4px;
	border-radius: 5px;
}

#tray menu menuitem:hover {
	background: @hover;
	color: @text;
}

#tray menu radio {
	min-height: 10px;
	min-width: 10px;
	border-radius: 50%;
}

#tray menu radio:checked {
	background-color: @selected;
	color: @selected;
	border: 1px solid @selected;
}

#tray menu check {
	min-height: 10px;
	min-width: 10px;
	border-radius: 0;
}

#tray menu check:checked {
	background-color: @selected;
	color: @selected-fg;
}

/* ── taskbar ── */
#taskbar button,
.niri-taskbar button {
	background: transparent;
	padding: 0 8px;
	border-bottom: 2px solid transparent;
	transition: border-bottom-color 0.3s ease-out;
}

#taskbar button:hover,
.niri-taskbar button:hover {
	border-bottom-color: @overlay0;
}

#taskbar button.active,
.niri-taskbar button.focused {
	border-bottom-color: @accent;
}
