/*style_11*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);

/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main #ebdbb2;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);
* {
	/*border: none;*/
	/*border-radius: 0;*/
	font-family: "Maple Mono NF CN", Roboto, Helvetica, Arial, sans-serif;
	font-size: 12px;
	min-height: 0;
}
#memory,
#cpu,
#clock,
#custom-countdown,
#custom-todo,
#backlight,
#pulseaudio,
#battery,
#network,
#custom-clip,
#custom-taskmanager,
#custom-galculator,
#custom-snip,
#tray,
#tray > widget,
#idle_inhibitor,
#custom-power,
#custom-reboot,
#custom-quit,
#custom-lock,
#custom-launcher {
	background: @bg_main;
	padding: 1px 8px;
	margin: 2px;
	border-radius: 6px;
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
}

#custom-launcher:hover,
#backlight:hover,
#custom-todo:hover,
#clock:hover,
#custom-countdown:hover,
#pulseaudio:hover,
#tray > widget:hover,
#idle_inhibitor:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-quit:hover,
#custom-lock:hover {
	background: @bg_hover;
	color: #FFFFFF;
}

window#waybar {
	background: @bg_main;
	color: @content_main;
	/*#ebdbb2*/
}

tooltip {
	border-radius: 18px;
	background-color: @bg_main_tooltip;
	border: 1px solid @border_main;
}

#clock {
	background: @bg_main;
	color: @content_main;
	font-weight: bold;
}

#pulseaudio.muted {
	background: @bg_main;
	color: @content_main;
}

.niri-taskbar {
	background: @bg_main;
	padding: 0 5px;
	margin: 2px;
	border-radius: 6px;
}

.niri-taskbar button {
	background: transparent;
	padding: 0 4px;
	border-bottom: 2px solid transparent;
	transition: border-bottom-color 0.3s ease-out;
}

.niri-taskbar button:hover {
	border-bottom-color: @border_main;
}

.niri-taskbar button.focused {
	border-bottom-color: #fbf1c7;
}

/*#tray {
	margin-left: 5px;
	margin-right: 5px;
}
#tray > .passive {
	border-bottom: none;
}
#tray > .active {
	border-bottom: 3px solid white;
}
#tray > .needs-attention {
	border-bottom: 3px solid @warning_color;
}
#tray > widget {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}*/
